html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body {
  background-color: rgba(49, 44, 44, 0.477);
}

/* Section menu burger */
#MenuBurgerIcon{
  margin-right: 8px;
  font-size: 20px;
}
#MenuBurger{
  /* Make the burger/menu bar sticky at the top */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 6px 8px;
  display:flex;
  align-items:center;
}

#MenuBurgerIcon{
  margin-right: 8px;
  font-size: 20px;
  
}

#MenuListe{
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  gap: 8px;
  align-items:center;
  justify-content: center;
}

.menu-icon{
  display:inline-block;
  width:36px;
  height:36px;
  line-height:36px;
  font-size:20px;
  border-radius:6px;
  background: transparent;

}

.menu-icon:hover{
  background-color: rgba(0,0,0,0.1);
}

.menu-icon-img{
  display:block;
  width:100%;
  height:100%;
  object-fit:contain;
  /* default: render PNG icons as black (force monochrome) */
  filter: grayscale(100%) brightness(0) saturate(100%);
}

.menu-selected{
  background-color: rgb(182, 182, 182);
}

.menu-label{
  display:none; /* hide text label visually, kept for accessibility */
}

/* small screens: make icons slightly larger */
@media (max-width:420px){
  .menu-icon{ width:44px; height:44px; line-height:44px; font-size:22px }
}


/* Section containers */

#section{
  margin: auto;
  width:95%;
  padding:10px;
  border-right: black 2px solid;
  border-left:black 2px solid;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section_fixes {
  border-radius:50px 50px 0px 0px;
  border-top: black 2px solid;
  background-color: rgb(150, 200, 250);
}

.section_anims {
  background-color: rgb(150, 250, 150);
}

.section_gifs {
  border-radius:0px 0px 50px 50px;
  border-bottom: black 2px solid;
  background-color: rgb(250, 200, 150);
}


